{% extends "base.html.twig" %}

{% block title %}Personnes - Liste{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center title-list">Liste des personnes</h1>

        <div class="mb-3">
            <a class="a-link" href="{{ path('personnes_add') }}">Ajouter une personne</a>
        </div>

        {# message ajout ou modification #}
        {% if app.session.has('personne_message') %}
            {# affichage et destruction du variable session a la fois #}
            <h6 class="alert alert-success my-3 text-center ">{{ app.session.remove('personne_message') }}</h6>
        {% endif %}

        {# message suppression #}
        {% if app.session.has('personne_deleted') %}
            {# affichage et destruction du variable session a la fois #}
            <h6 class="alert alert-danger my-3 text-center ">{{ app.session.remove('personne_deleted') }}</h6>
        {% endif %}

        {# liste des personnes #}
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date naissance</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Code postale</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for personne in personnes %}
                    <tr class="py-3">
                        <td> {{ personne.nom }} </td>
                        <td> {{ personne.prenom }} </td>
                        <td> {{ personne.dateNaissance|date('d/m/Y') }} </td>
                        <td> {{ personne.adresse }} </td>
                        <td> {{ personne.codePostale }} </td>
                        <td> {{ personne.Ville }} </td>
                        <td>
                            <a class="action delete-action" href="{{ path('personnes_delete', { 
                                nom: personne.nom, 
                                prenom: personne.prenom,
                                id: personne.id
                            }) }}">Supprimer</a>
                            <a class="action edit-action" href="{{ path('personnes_edit', {
                                nom: personne.nom, 
                                prenom: personne.prenom,
                                id: personne.id
                            }) }}">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}